@media screen and (min-width: 1400px) {
  .hassle {
    background-color: #1e9ed2;
    text-align: center;
  }
  .extradiv {
    position: absolute;
    left: -25%;
    background-color: #265182;
    width: 150vw;
    height: 34vw;
    border-radius: 100%;
  }
  .extradiv1 {
    position: absolute;
    height: fit-content;
  }
  .hassleTitle {
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 150px;
    padding-top: 30px;
  }
  .hassleOptions {
    height: 300px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-family: "Nunito";
    font-size: 22px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    transform: rotateX(1.5);
    background-color: #265182;
    position: relative;
  }
  .hassleOpt1 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 100px;
  }
  .hassleMatter {
    width: 150px;
  }
  .hassleOpt2 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 150px;
  }
  .hassleOpt3 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 170px;
  }
  .hassleLine {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
  }
  .hassleHelp {
    background-color: #265182;
    font-weight: 700;
    font-size: 64px;
    color: #ffffff;
    padding-top: 100px;
    position: relative;
  }
  .Menu1 {
    display: flex;
    padding: 0px 176px 0px 176px;
    background-color: #265182;
  }
  .Menu2 {
    display: flex;
    padding: 0px 176px 80px 176px;
    background-color: #265182;
  }
  .Box1 {
    width: 193px;
    height: 80px;
    padding-top: 50px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 20px;
    color: #ffffff;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
  }
  .cornerBox {
    width: 193px;
    height: 80px;
    padding-top: 50px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 20px;
    color: #ffffff;
  }
  .Box2 {
    width: 193px;
    height: 80px;
    padding-top: 50px;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 20px;
    color: #ffffff;
  }
  /* .extradiv {
    position: absolute;
    left: -25%;
    background-color: #265182;
    width: 150vw;
    height: 34vw;
    border-radius: 100%;
  }
  .extradiv1 {
    position: absolute;
    height: fit-content;
  } */
  .cornerBox1 {
    width: 193px;
    height: 80px;
    padding-top: 50px;
    font-size: 20px;
    color: #ffffff;
  }
  .hassleMenu {
    display: flex;
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    padding: 50px 176px 92px 176px;
    background-color: #265182;
    justify-content: space-between;
    position: relative;
  }
  .hassleMenu1 {
    display: flex;
    cursor: pointer;
  }
  .InvestMenu {
    display: flex;
    background-color: #265182;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 50px 176px 92px 176px;
  }
  .Divider {
    height: 100px;
    border: 1px solid rgba(208, 208, 208, 0.5);
  }
  .health {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 40px;
    background-color: #265182;
  }
  .creditcard {
    font-size: 20px;
    background-color: #265182;
    color: #ffffff;
    padding-bottom: 60px;
  }
  .hassleLine1 {
    background-color: #265182;
  }
  .buttonbg {
    background-color: #265182;
    padding-bottom: 100px;
  }
  .learnMore {
    border: none;
    width: 150px;
    font-size: 14px;
    color: #ffffff;
    width: 150px;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 0px 15px 0px;
    border-radius: 25px;
    background-color: #eba71f;
    outline: none;
  }
}
@media screen and (max-width: 1400px) {
  .hassle {
    background-color: #1e9ed2;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .extradiv {
    position: absolute;
    left: -25%;
    background-color: #265182;
    width: 150vw;
    height: 35vw;
    border-radius: 100%;
  }
  .extradiv1 {
    position: absolute;
    height: fit-content;
  }
  .hassleTitle {
    font-size: 59px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 150px;
    padding-top: 30px;
  }
  .hassleOptions {
    height: 300px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-family: "Nunito";
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    transform: rotateX(1.5);
    background-color: #265182;
    position: relative;
  }
  .hassleOpt1 {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 100px;
  }
  .hassleMatter {
    width: 139px;
  }
  .hassleOpt2 {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 150px;
  }
  .hassleOpt3 {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 170px;
  }
  .hassleLine {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
  }
  .hassleHelp {
    background-color: #265182;
    font-weight: 700;
    font-size: 59px;
    color: #ffffff;
    padding-top: 100px;
    position: relative;
  }
  .Menu1 {
    display: flex;
    padding: 0px 176px 0px 176px;
    background-color: #265182;
  }
  .Menu2 {
    display: flex;
    padding: 0px 176px 80px 176px;
    background-color: #265182;
  }
  .Box1 {
    width: 173px;
    height: 80px;
    padding-top: 50px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 18px;
    color: #ffffff;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
  }
  .cornerBox {
    width: 173px;
    height: 80px;
    padding-top: 50px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 18px;
    color: #ffffff;
  }
  .Box2 {
    width: 173px;
    height: 80px;
    padding-top: 50px;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 18px;
    color: #ffffff;
  }
  .cornerBox1 {
    width: 173px;
    height: 80px;
    padding-top: 50px;
    font-size: 18px;
    color: #ffffff;
  }
  .hassleMenu {
    display: flex;
    font-size: 37px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    padding: 50px 176px 92px 176px;
    background-color: #265182;
    justify-content: space-between;
    position: relative;
  }
  .hassleMenu1 {
    display: flex;
    cursor: pointer;
  }
  .InvestMenu {
    display: flex;
    background-color: #265182;
    font-size: 18px;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 50px 176px 92px 176px;
  }
  .Divider {
    height: 100px;
    border: 1px solid rgba(208, 208, 208, 0.5);
  }
  .health {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 40px;
    background-color: #265182;
  }
  .creditcard {
    font-size: 18px;
    background-color: #265182;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .hassleLine1 {
    background-color: #265182;
  }
  .buttonbg {
    background-color: #265182;
    padding-bottom: 100px;
  }
  .learnMore {
    border: none;
    width: 139px;
    font-size: 14px;
    color: #ffffff;
    width: 150px;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 0px 15px 0px;
    border-radius: 25px;
    background-color: #eba71f;
    outline: none;
  }
}
@media screen and (max-width: 1300px) {
  .hassle {
    background-color: #1e9ed2;
    text-align: center;
  }
  .extradiv {
    position: absolute;
    left: -25%;
    background-color: #265182;
    width: 150vw;
    height: 35vw;
    border-radius: 100%;
  }
  .extradiv1 {
    position: absolute;
    height: fit-content;
  }
  .hassleTitle {
    font-size: 54px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 150px;
    padding-top: 30px;
  }
  /* .extradiv {
    position: absolute;
    left: -25%;
    background-color: #265182;
    width: 150vw;
    height: 60vw;
    border-radius: 100%;
  }
  .extradiv1 {
    position: absolute;
    height: fit-content;
  } */
  .hassleOptions {
    height: 300px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-family: "Nunito";
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    transform: rotateX(1.5);
    background-color: #265182;
    position: relative;
  }
  .hassleOpt1 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 100px;
  }
  .hassleMatter {
    width: 128px;
  }
  .hassleOpt2 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 150px;
  }
  .hassleOpt3 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 170px;
  }
  .hassleLine {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
  }
  .hassleHelp {
    background-color: #265182;
    font-weight: 700;
    font-size: 54px;
    color: #ffffff;
    padding-top: 100px;
    position: relative;
  }
  .Menu1 {
    display: flex;
    padding: 0px 176px 0px 176px;
    background-color: #265182;
  }
  .Menu2 {
    display: flex;
    padding: 0px 176px 80px 176px;
    background-color: #265182;
  }
  .Box1 {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 16px;
    color: #ffffff;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
  }
  .cornerBox {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 16px;
    color: #ffffff;
  }
  .Box2 {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 16px;
    color: #ffffff;
  }
  .cornerBox1 {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    font-size: 16px;
    color: #ffffff;
  }
  .hassleMenu {
    display: flex;
    font-size: 34px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    padding: 50px 176px 92px 176px;
    background-color: #265182;
    justify-content: space-between;
    position: relative;
  }
  .hassleMenu1 {
    display: flex;
    cursor: pointer;
  }
  .InvestMenu {
    display: flex;
    background-color: #265182;
    font-size: 16px;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 50px 176px 92px 176px;
  }
  .Divider {
    height: 100px;
    border: 1px solid rgba(208, 208, 208, 0.5);
  }
  .health {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 40px;
    background-color: #265182;
  }
  .creditcard {
    font-size: 16px;
    background-color: #265182;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .hassleLine1 {
    background-color: #265182;
  }
  .buttonbg {
    background-color: #265182;
    padding-bottom: 100px;
  }
  .learnMore {
    border: none;
    width: 128px;
    font-size: 14px;
    color: #ffffff;
    width: 128px;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 0px 15px 0px;
    border-radius: 25px;
    background-color: #eba71f;
    outline: none;
  }
}
@media screen and (max-width: 1200px) {
.hassleMenu {
  padding: 50px 100px 92px 100px;
}
}
@media only screen and (min-width: 350px) and (max-width: 600px) {
  .hassle {
    background-color: #1e9ed2;
    text-align: center;
    width: 600px;
  }
  .extradiv {
    position: absolute;
    left: -25%;
    background-color: #265182;
    width: 150vw;
    height: 60vw;
    border-radius: 100%;
  }
  .extradiv1 {
    position: absolute;
    height: fit-content;
  }
  .hassleTitle {
    font-size: 54px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 150px;
    padding-top: 30px;
   
  }
  .hassleOptions {
    height: 300px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-family: "Nunito";
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    transform: rotateX(1.5);
    background-color: #265182;
    position: relative;
  }
  .hassleOpt1 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 100px;
  }
  .hassleMatter {
    width: 128px;
  }
  .hassleOpt2 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 150px;
  }
  .hassleOpt3 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 170px;
  }
  .hassleLine {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
  }
  .hassleHelp {
    background-color: #265182;
    font-weight: 700;
    font-size: 54px;
    padding: 0 80px 0 80px;
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
    width:453px;
    margin: 0px auto;
    position: relative;
  }
  .loansMenu {
    display: flex;
  }
  .Menu1 {
    display: flex;
    padding-left: 25%;
    padding-right: 0;
    flex-direction: column;
    background-color: #265182;
  }
  .Menu2 {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    background-color: #265182;
  }
  .Box1 {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 16px;
    color: #ffffff;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
  }
  .cornerBox {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    border-bottom: 0;
    border-right: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 16px;
    color: #ffffff;
  }
  .Box2 {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    border-right: 0;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 16px;
    color: #ffffff;
  }
  .cornerBox1 {
    width: 165px;
    height: 100px;
    padding-top: 50px;
    font-size: 16px;
    color: #ffffff;
  }
  .hassleMenu {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 34px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    /* padding: 50px 176px 92px 176px; */
    padding: 50px 0px;
    background-color: #265182;
    justify-content: flex-start;
    position: relative;
  }
  #menu-flex{
    padding-left: 70px;
  }
  .hassleMenu1 {
    display: flex;
    cursor: pointer;
  }
  .InvestMenu {
    display: flex;
    background-color: #265182;
    font-size: 16px;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 92px 50px;
  }
  .Divider {
    height: 100px;
    border: 1px solid rgba(208, 208, 208, 0.5);
  }
  .health {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 40px;
    background-color: #265182;
  }
  .creditcard {
    font-size: 16px;
    background-color: #265182;
    color: #ffffff;
    padding-bottom: 60px;
  }
  .hassleLine1 {
    background-color: #265182;
  }
  .buttonbg {
    background-color: #265182;
    padding-bottom: 100px;
  }
  .learnMore {
    border: none;
    width: 128px;
    font-size: 14px;
    color: #ffffff;
    width: 128px;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 0px 15px 0px;
    border-radius: 25px;
    background-color: #eba71f;
    outline: none;
  }
}

