
/**
Global components styling 
*/

/** Forms **/
input[class*="css"],
select[class*="css"] {
  border-radius: 0;
  border-left: transparent ;
  border-top: transparent ;
  border-right: transparent ;
  padding-left: .5rem;
}

button[class*="css"]:not([aria-label="Close"]) {
  border-radius: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}